body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: rgb(196, 117, 117);
    padding: 10px;
    text-align: center;
}

.container {
    display: flex;
}

aside {
    width: 200px;
    background-color: #a31919;
    padding: 20px;
}

.content {
    flex-grow: 1;
    padding: 20px;
}
